In [5]:
import pandas as pd
from

ModuleNotFoundError: No module named 'datatime'

In [6]:
# df = pd.read_csv("Crime_Data_from_2020_to_Present.csv")
df = pd.read_csv("d:\Users\tanap\Downloads\Crime_Data_from_2020_to_Present.csv")

data = df[['DATE OCC', 'AREA NAME']].sort_values(by='DATE OCC', ascending=True)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (404053679.py, line 2)

In [40]:
data['DATE OCC'] = pd.to_datetime(data['DATE OCC'])

data

C:\Users\tanap\AppData\Local\Temp\ipykernel_38668\3464957308.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['DATE OCC'] = pd.to_datetime(data['DATE OCC'])

         DATE OCC    AREA NAME
122811 2020-01-01       Newton
131832 2020-01-01       Newton
81354  2020-01-01     Van Nuys
131982 2020-01-01      Topanga
81124  2020-01-01  West Valley
...           ...          ...
456233 2022-12-31      Pacific
540940 2022-12-31   Hollenbeck
629819 2022-12-31    Southeast
485493 2022-12-31      Olympic
432355 2022-12-31       Harbor

[815882 rows x 2 columns]

In [41]:
data.value_counts()

DATE OCC    AREA NAME
2020-05-30  Wilshire       327
2020-05-29  Central        175
2020-05-30  Central        114
2023-08-06  Southwest      114
2023-02-02  77th Street    111
                          ...
2023-10-09  Rampart          3
            Foothill         3
            West Valley      3
            Devonshire       2
            N Hollywood      1
Name: count, Length: 28937, dtype: int64

In [42]:
table = data.pivot_table(index='DATE OCC', columns='AREA NAME', aggfunc='size', fill_value=0)

table

AREA NAME,77th Street,Central,Devonshire,Foothill,Harbor,Hollenbeck,Hollywood,Mission,N Hollywood,Newton,...,Olympic,Pacific,Rampart,Southeast,Southwest,Topanga,Van Nuys,West LA,West Valley,Wilshire
DATE OCC,,,,,,,,,,,,,,,,,,,,,
2020-01-01,82,55,53,46,45,40,62,64,57,59,...,47,42,66,66,49,59,41,38,41,41
2020-01-02,34,38,24,16,31,15,26,24,27,25,...,24,27,24,28,29,15,31,23,21,25
2020-01-03,53,42,18,32,28,31,21,28,34,21,...,21,32,25,23,28,25,23,23,36,31
2020-01-04,39,38,25,19,18,22,24,18,18,32,...,20,31,19,31,43,31,22,21,17,27
2020-01-05,46,30,24,16,27,29,21,17,28,26,...,17,24,21,27,31,23,26,22,13,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-05,29,25,13,14,14,15,20,13,26,14,...,28,19,34,26,32,10,27,21,23,14
2023-10-06,25,30,16,18,24,19,27,23,19,30,...,20,22,15,25,25,18,22,18,10,16
2023-10-07,20,38,18,16,14,16,17,15,13,27,...,25,23,19,27,28,20,13,14,18,13
2023-10-08,28,31,12,13,23,21,11,18,17,32,...,12,28,23,30,28,11,20,7,9,21
2023-10-09,13,6,2,3,6,9,4,7,1,12,...,4,5,3,8,12,8,6,0,3,4

In [56]:
# data['DATE OCC'] = pd.to_datetime(data['DATE OCC'])
weekly_data = data.resample('W-Mon', on='DATE OCC').sum()
weekly_data

                                                    AREA NAME
DATE OCC
2020-01-06  NewtonNewtonVan NuysTopangaWest ValleyFoothill...
2020-01-13  SoutheastMissionWilshire77th StreetOlympicTopa...
2020-01-20  OlympicWest ValleyRampartWest LARampartRampart...
2020-01-27  OlympicHollenbeckHollenbeckMissionDevonshireTo...
2020-02-03  NortheastCentralHarborTopangaPacificSouthwestH...
...                                                       ...
2023-09-11  FoothillN HollywoodSoutheastWilshireWilshireHo...
2023-09-18  Van NuysCentralNewtonPacificTopanga77th Street...
2023-09-25  WilshireWilshireHollenbeckRampartSouthwestMiss...
2023-10-02  SouthwestCentralNewtonOlympicPacificTopangaDev...
2023-10-09  NewtonN HollywoodN HollywoodOlympic77th Street...

[197 rows x 1 columns]

In [44]:
# data.set_index('DATE OCC', inplace=True)

In [45]:
# weekly_counts_by_area = data.resample('W-Mon')

# weekly_counts_by_area

In [ ]:
data.drop('NAME', axis=1, inplace=True)